/* Gemeinsame Stile für alle Bildschirmgrößen */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

/* Hintergrundbilder für Desktop */
#background {
    background-image: url('backgrounds/desktop/bg_desktop_1.svg');
    background-color: #DD9181;

}

/* Hintergrundbilder für mobile Bildschirme */
@media only screen and (max-width: 768px) {
    #background {
        background-image: url('backgrounds/mobile/bg_mobile_1.svg');
        background-color: #DD9181;
        /* Farbe des Hintergrundbilds */
    }
}